<!DOCTYPE html>
<html lang="pt-br" ng-app="index">
<head>
    <meta charset="UTF-8">
    <title>Locadora</title>
    <link rel="stylesheet" href="components/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="components/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="components/jquery-3.2.1/jquery.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/dirPagination.js"></script>

    <script>
        angular.module("index", ['angularUtils.directives.dirPagination']);
        angular.module("index").controller("ListaFilmesCtrl", function ($scope) {
            $scope.titulo = "Cadastro de Filmes";
            $scope.filmes = [];

            $scope.generos = [
                {nome: "Ação"},
                {nome: "Suspense"},
                {nome: "Comédia"},
                {nome: "Aventura"}
            ];
            $scope.classificacoes = [
                {categoria: "Livre"},
                {categoria: "10 Anos"},
                {categoria: "12 Anos"},
                {categoria: "14 Anos"},
                {categoria: "16 Anos"},
                {categoria: "18 Anos"}
            ];

            $scope.data = new Date();
            $scope.inserirFilme = function (filme) {
                $scope.filmes.push(angular.copy(filme));
                $scope.Date = new Date();
                delete $scope.filme;
            };

            $scope.removerFilme = function (filme) {
              var index = $scope.filmes.indexOf(filme);
              $scope.filmes.splice(index, 1);
            };

            $scope.colorHead = {
                'background-color': '#eee',
            };
            $scope.colorLine = {
                'background-color': '#a6a6a6',
                'font-size': '14px',
                'color': '#c6442a',
                'font-weight': 'bold'
            };

            $scope.isFilmeSelecionado = function (filmes) {
              return filmes.some(function () {
                  return filmes.selecionados;
              });
            };

            $scope.removerTodos = function (filmes) {
                $scope.filmes = filmes.filter(function () {
                   if(!filmes.selecionados) return filmes;
                });
            }

        });
    </script>
</head>
<body style="background-color: #788389;">
<header>
    <div class="container-fluid" ng-controller="ListaFilmesCtrl">
        <div class="row">
            <img src="images/banner.jpg" title="Banner" class="img-responsive" style="width: 100%;">
        </div>

        <div class="row">
            <h3 class="text-center" style="color: #fff">{{titulo}}</h3>
            <div class="jumbotron">
                <div class="col-md-offset-4 col-md-4">
                    <form class="form-horizontal" name="formFilme">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtNome" ng-model="filme.nome" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gênero</label>
                            <div class="col-sm-10">
                                <select ng-model="filme.genero" ng-options="genero.nome for genero in generos | orderBy:'nome'" class="form-control" required="required">
                                    <option value="">Selecione o Gênero</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Classificação</label>
                            <div class="col-sm-offset-1 col-sm-10" ng-repeat="classificacao in classificacoes">
                                <div class="checkbox">
                                    <label>
                                        <input name="classificacao" type="radio" value="{{classificacao.categoria}}" ng-model="filme.classificacao" required="required"> {{classificacao.categoria}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="button" class="btn btn-primary" value="Inserir" ng-click="inserirFilme(filme)" ng-disabled="formFilme.$invalid">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-2 form-group" ng-show="filmes.length > 0">
                <input type="text" class="form-control" placeholder="Search.." ng-model="buscaFilme">
            </div>
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered" ng-if="filmes.length > 0">
                    <thead>
                    <tr ng-style="colorHead">
                        <th><input type="checkbox" ng-model="filmes.selecionados"></th>
                        <th>Nome</th>
                        <th>Gênero</th>
                        <th>Classificação</th>
                        <th>Data</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr dir-paginate="filme in filmes | filter : buscaFilme | itemsPerPage : 3" ng-style="colorLine" ng-init="datetime = Date">
                        <td><input type="checkbox" ng-checked="filmes.selecionados"></td>
                        <td>{{filme.nome}}</td>
                        <td>{{filme.genero.nome}}</td>
                        <td>{{filme.classificacao}}</td>
                        <td>{{datetime | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td><button type="button" class="btn btn-danger" ng-click="removerFilme(filme)">Excluir</button> </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" ng-if="isFilmeSelecionado(filmes)" ng-click="removerTodos(filmes)">Excluir Todos</button>
                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>

            </div>
        </div>
    </div>
</header>
</body>
</html>